/*.container {
	background-color: #999999;
}*/


body {
	overflow-x: hidden;
	
	background: url('../images/page-background.jpg') no-repeat top center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}

.landing-page {
	/*background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('../images/landing-background.jpg');*/
	/*background: url('../images/landing-background4.jpg') no-repeat top center fixed;*/
	/*background: #565656;*/
	/*background-size: cover;*/
	/*max-width: 90%;*/
	background: url('../images/landing-background4.jpg') no-repeat top center fixed;
	background-size: cover;
	height: 100vh;
}

.landing-page img {
	margin-top: 5%;
}

.landing-header {
	background: rgba(58,58,58,0.25);
	font-family: 'Cinzel', sans-serif;
	color: white;
	/*margin-top: 5%;*/
	/*border: 4px solid white;*/
	padding: 20px;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.5;
}


/* Grow */
.landing-page a {
	width: 300px;
	cursor: pointer;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-align: center;
	border: 1px solid white;
	transition: all 1s;
}

.landing-page a:hover {
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 6px #ffdb78;
	/*background-color: white;*/
	-webkit-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
}

#navigationBar .navbar-brand {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


/* IPAD Portrait and Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	#navbarNav {
		float: none;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		margin-top: 92px;
	}

	#navigationBar {
		height: 150px;
		align-items: stretch;
	}

	#navigationBar .navbar-brand {
		margin-top: 5px;
		padding: 10px;
	}

	.logo {
		width: 23%;
	}
}

/* IPAD Pro Portrait and Landscape */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px)  { 
	#navbarNav {
		float: none;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		margin-top: 92px;
	}

	#navigationBar {
		height: 190px;
		align-items: stretch;
	}

	#navigationBar .navbar-brand {
		margin-top: 5px;
		padding: 10px;
	}

	.logo {
		width: 23%;
	}
}

/*DESKTOP*/
@media only screen and (min-width: 1025px) {
	#navbarNav {
		float: none;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		margin-top: 100px;
	}

	#navigationBar {
		height: 160px;
		align-items: stretch;
	}

	.navbar-brand {
		margin-top: 5px;
	}

	.logo {
		width: 20%;
	}
}

/*MOBILE*/
@media only screen and (max-width: 768px) {
	#navigationBar .navbar-brand {
		margin-top: 1.5%;
		padding: 10px;
	}

	/*#navigationBar {
		height: 100px;
	}*/

	#navigationBar .navbar-toggler {
		margin-top: 0;
		padding-top: 0;
		position: absolute;
		top: 32px;
	}

	.logo {
		width: 32%;
	}

}


#navigationBar .logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


#navigationBar {
	background-color: #333333;
	font-family: 'Cinzel', serif;
	border-bottom: 1px solid #e5cd19;

}

#navigationMenu a {
	transition: all 0.3s ease-in;
}

#navigationMenu a:hover {
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
}

#navbarNav .active {
	color: #e8d909;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
    
}

#navbarNav li {
	margin-left: 5px;
	margin-right: 5px;
}

#navbarNav a:hover {
	color: #e8d909;
}

.card-group .red-bg {
	background-color: #873329;
}

.card-group .purple-bg {
	background-color: #58556A;
}

.card-group .brown-bg {
	background-color: #A56736;
}

.card-group .yellow-bg {
	background-color: #c4b946;
}

#card-group .card {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.card img {
	width: 100%;
}

.section-title {
	margin-top: 5%;
	margin-bottom: 20px;
	font-family: 'Cinzel', sans-serif;
	font-size: 20px;
	color: white;
}

.card-group {
	color: white;
	margin-bottom: 15px;
}

footer {
	background-color: #333333;
	color: white;
	font-family: 'Cinzel' sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}

#card-group .card {
	transition: all 0.3s;
}


#card-group .red {
	background-color: #873329;
}

#card-group .purple {
	background-color: #58556A;	
}

#card-group .brown {
	background-color: #A56736;
}

/*.contact-container .row {
	margin-bottom: 10px;
}
*/

#card-group .card:hover {
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.contact-container {
	width: 100%;
}

.contact-container form {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 80%;
}

.contact-container button, #card-group a {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*background: #873329;*/
	background-color: transparent;
	/*border: none;*/
	border: 1px solid white;
	transition: all 1s;
}

.contact-container button:hover, #card-group .btn:hover {
	/*background: #D0A765;*/
	/*color: black;*/
	background-color: transparent;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 6px #ffdb78;
	-webkit-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);

}

.map-container {
	width: 60%;
	padding: 0;
	margin: 0;
}

.contact-container iframe {
	margin-top: 30px;
	box-sizing: content-box;
	padding: 0;
/*	margin-left: auto;
	margin-right: auto;*/
}


.contact-intro {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	margin-top: 2%;
	font-size: 14px;
}

.follow-us {
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
	color: white;
}


#social-media-bar {
	margin-bottom: 20px;
}

.fa {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 4px 2px;
	border-radius: 100%;
	background-color: grey;
	transition: all 0.3s ease-in;
}

.fa:hover {
	color: white;
/*	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
}*/}

.fa-facebook:hover {
	background: #3B5998;
}

.fa-twitter:hover {
  background: #55ACEE;
}

.fa-youtube:hover {
  background: #bb0000;
}

.fa-instagram:hover {
  background: #125688;
}

.page-title {
	font-family: 'Cinzel', serif;
	font-size: 24px;
	margin-top: 30px;
	color: white;
}

.mv-header {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.mv {
	margin-top: 5%;
	margin-bottom: 10%;
	color: white;
}

.mission-section, .vision-section {
	background: rgba(68,58,68,0.50);
	padding: 15px;
}

.mission-statement, .vision-statement {
	font-family: 'Poppins', sans-serif;
	/*letter-spacing: 0.5px;*/
	font-weight: 100;
	font-size: 14px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 33.3%;
	max-width: 33.3%;
	padding: 0 4px;
}
/*.column {
	height: 100vh;
}
*/
.column img {
	margin-top: 8px;
	vertical-align: middle;
	border: 1px solid white;
	/*width: 40%;*/
}

#gallery {
	margin-top: 15px;
	margin-bottom: 20px;
	width: 70%;
}

#gallery img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

#gallery img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	cursor: pointer;
	/*border: none;*/
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.caption-box {
	position: relative;
  	width: 100%;
  	max-width: 300px;
}

.overlay {
  	position: absolute; 
  	bottom: 0; 
  	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.5); /* Black see-through */
  	color: #f1f1f1; 
  	width: 100%;
  	transition: .5s ease;
  	opacity:0;
  	color: white;
  	font-size: 20px;
  	padding: 20px;
  	text-align: center;
	font-family: 'Cinzel',  serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.caption-box:hover .overlay {
  opacity: 1;
}

.team-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}