/*.container {
	background-color: #999999;
}*/
body {
	overflow-x: hidden;
	/*background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('../images/page-background.jpg');*/
	background: url('../images/page-background.jpg') no-repeat top center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
    /*overflow-y: hidden;*/
}

.landing-page {
	/*background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('../images/landing-background.jpg');*/
	/*background: url('../images/landing-background4.jpg') no-repeat top center fixed;*/
	/*background: #565656;*/
	/*background-size: cover;*/
	/*max-width: 90%;*/
	background: url('../images/landing-background4.jpg') no-repeat top center fixed;
	background-size: cover;
	height: 100vh;
}

.landing-page img {
	margin-top: 5%;
}

.landing-header {
	background: rgba(58,58,58,0.25);
	font-family: 'Poppins', sans-serif;
	color: white;
	/*margin-top: 5%;*/
	/*border: 4px solid white;*/
	padding: 20px;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.5;
}


/* Grow */
.landing-page a {
	width: 300px;
	cursor: pointer;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-align: center;
	border: 1px solid white;
	transition: all 1s;
}

.landing-page a:hover {
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 6px #ffdb78;
	/*background-color: white;*/
	-webkit-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
}


@media only screen and (min-width: 768px) {
	#navbarNav {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.logo {
		width: 53%;
		margin-left: 15%;
	}
}

#navigationBar {
	background-color: #303030;
	font-family: 'Cinzel', serif;
	border-bottom: 1px solid #e5cd19;
}

#navigationMenu a {
	transition: all 0.3s ease-in;
}

#navigationMenu a:hover {
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
}

#navbarNav .active {
	color: #e8d909;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
    
}

#navbarNav li {
	margin-left: 5px;
	margin-right: 5px;
}

#navbarNav a:hover {
	color: #e8d909;
}

.card-group .red-bg {
	background-color: #873329;
}

.card-group .purple-bg {
	background-color: #58556A;
}

.card-group .brown-bg {
	background-color: #A56736;
}

#card-group .card {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.card img {
	width: 100%;
}

.section-title {
	margin-top: 5%;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: white;
}

.card-group {
	color: white;
	margin-bottom: 15px;
}

footer {
	background-color: #303030;
	color: white;
	font-family: 'Raleway' sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}


#card-group .red {
	background-color: #873329;
}

#card-group .purple {
	background-color: #58556A;	
}

#card-group .brown {
	background-color: #A56736;
}

/*.contact-container .row {
	margin-bottom: 10px;
}
*/
.contact-container {
	width: 100%;
}

.contact-container form {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 80%;
}

.contact-container button {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*background: #873329;*/
	background-color: transparent;
	/*border: none;*/
	border: 1px solid white;
	transition: all 1s;
}

.contact-container button:hover {
	/*background: #D0A765;*/
	/*color: black;*/
	background-color: transparent;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 6px #ffdb78;
	-webkit-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);
	box-shadow: 0px 0px 25px 3px rgba(255,219,120,1);

}

.map-container {
	width: 60%;
	padding: 0;
	margin: 0;
}

.contact-container iframe {
	margin-top: 30px;
	box-sizing: content-box;
	padding: 0;
/*	margin-left: auto;
	margin-right: auto;*/
}

.follow-us {
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	color: white;
}


#social-media-bar {
	margin-bottom: 20px;
}

.fa {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 5px 2px;
	border-radius: 100%;
	transition: all 0.3s ease-in;
}

.fa:hover {
	color: white;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
}

.fa-facebook {
	background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-youtube {
  background: #bb0000;
}

.fa-instagram {
  background: #125688;
}

.page-title {
	font-size: 24px;
	margin-top: 30px;
	color: white;
}

.mv-header {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.mv {
	margin-top: 5%;
	margin-bottom: 10%;
	color: white;
}

.mission-section, .vision-section {
	background: rgba(68,58,68,0.50);
	padding: 15px;
}

.mission-statement, .vision-statement {
	font-family: 'Poppins', sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 50%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}