.landing-page {
	/*background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('../images/landing-background.jpg');*/
	background-image: url('../images/landing-background3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}


.landing-header {
	font-family: 'Hind Madurai', sans-serif;
	color: white;
	margin-top: 25%;
	/*border: 4px solid white;*/
	padding: 20px;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}

.landing-page a {
	margin-top: 30px;
	font-family: 'Hind Madurai', sans-serif;
	width: 300px;
	cursor: pointer;
	background-color: #A56736;
	border-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	transition: all 0.5s;
	text-align: center;
	border: none;
	outline: none;
	color: white;
}


.landing-page span {
	position: relative;
	transition: all 0.5s;
}

.landing-page span:after {
	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}

.landing-page a:hover span {
	padding-right: 25px;
	color: #050601;
}

.landing-page a:hover span:after {
	opacity: 1;
	right: 0;
	color: #050601;
}

.landing-page a:hover {
	background-color: #D0A765;
}

.landing-page a:focus {
	border: none;
	outline: none;
}

@media only screen and (min-width: 768px) {
	#navbarNav {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.logo {
		width: 53%;
		margin-left: 15%;
	}
}

#navigationBar {
	background-color: #050601;
	font-family: 'Cinzel', serif;
}

#navbarNav li {
	margin-left: 5px;
	margin-right: 5px;
}

#navbarNav a:hover {
	color: #D0A765;
}

.card-group .red-bg {
	background-color: #873329;
}

.card-group .purple-bg {
	background-color: #58556A;
}

.card-group .brown-bg {
	background-color: #A56736;
}

.card-group .card {
	margin-left: 5px;
	margin-right: 5px;
}

.section-title {
	margin-top: 5%;
	font-family: 'Lato', sans-serif;
}

.card-group {
	color: white;
}

.footer-copyright {
	background-color: #050601;
	color: white;
}